 

 /* Shared style  */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #1a0b2e;
}


.bg-1{
    background-color: #230e3d;
}

/* color */
  .white-01{
    color:#ffff;
  }
.white-02{
    color: #ffffff;
    font-size: 1rem;
    opacity: 60%;
    line-height: 20px;
}
/* Header */

.navbar,
.banner-box,
.about-section,
.feature-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header-section{
    border-bottom: 1px solid #412567;
}

/* nav list */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.nav-logo{
    font-size: 2.25rem;
    font-weight: 700;
}
.wave{
    background: linear-gradient(
    90deg,
    #ff4fd8,
    #7c3aed,
    #facc15);
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;


}
.nav-items{
    list-style: none;
    display: flex;
    gap: 32px;
    
}

.nav-item{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(
          90deg,
         #F7E93F 0%,
          #FB09B4 50%, 
          #9100F8 100%);
}
.hambuger{
    width: 18px;
    height: 14px;
    display: none;
}
/* Banner style */

.banner-section {
    position: relative;
    width: 100%;
    min-height: 110vh;
     overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
   
    padding: 140px 16px 120px;
}

.banner-area{
    position: absolute;
    inset: 0;

   background-image: url("assets/hero-bg.png");
   background-repeat: no-repeat;

    background-size: cover;
    background-position: center 35%;
    

    z-index: 0;

}

.banner-box{
  position: relative;
  z-index: 1;
  max-width: 550px;
}
.podcast-logo{
    width:100% ;
    max-width: 380px;
   position: relative;
   margin: 0px auto 30px;
}
.circle{
    width: 100%;
    height: auto;
    display: block;
}
.mic{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.new{
    position: absolute;
    top: 8%;
    right: 5%;

    background-color: #00ff88;
    font-size: 1.12rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 100px;
    color: #1a0b2e;  
}

.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-description{
    font-size: 1rem;
    opacity: 80%;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    gap: 8px;
    justify-content: center;
    /* align-items: center; */
}

.btn2{
    border: 2px solid #00ff88;
    background: none;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #00ff88;
}

/* About section */


.about-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-description{
    margin-bottom: 30px;
}
.dash{
    border-bottom: 2px solid #fff;
    opacity: 20%;
}

.about-number{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.number-title{
    font-size: 3rem;
    font-weight: 700;
    color: #00ff88;
    margin-bottom: 16px;
}
.number-des{
    text-transform: uppercase;
}

/* Choose section */

.choose-section{
    width: 100%;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    background-color: #230e3d;
}

.choose-container{
    max-width: 1200px;
    width: 100%;
}

.choose-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

/* grid */

.choose-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(225px, auto);
    gap: 30px;
}
.box-content{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    /* box-shadow: 0 20px 40px rgba(0,0,0,0.35); */
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.box-content img{
    height: 50px;
    width: 50px;
}
.box-title{
    font-size: 1.25rem;
}
.box-description{
    line-height: 2;
}
.box-large{
    grid-row: span 2;
}

.box-wide{
    grid-column: span 2;
}




/* Feature style */

.feature-container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 120px;
    padding-top: 120px;
    /* padding-bottom: 20px; */
}

.episode-box{

}

.episode-title,
.host-title{
font-size: 3rem;
font-weight: 700;
text-align: center;
margin-bottom: 40px;
}

.episode-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.epiosode-card{
 max-width: 380px;
 display: flex;
 flex-direction: column;
 border-radius: 24px;
 background: rgba(37, 13, 68, 1);

}
.iframe{
    border-radius: 24px 24px 0 0;
}

.video-content{
    padding: 24px;
}
.video-title{
    font-size: 1.24rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.video-des{
    margin-bottom: 12px;
}

.video-min{
    display: flex;
    gap: 6px;
}

.video-min p{
    font-size: 1rem;
    font-weight: 600;
    color: #00ff88;
}


/* host */

.host-intro{
    display: flex;
    gap: 24px;
    border-radius: 30px;
    background: rgba(37, 13, 68, 1);
    padding: 40px;
}

.host-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.host-name{
    font-size: 2rem;
    font-weight: 700;
}
.host-media{
    list-style: none;
    display: flex;
    gap: 8px;
}

.host-media li{
    height: 40px;
    width: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-media li a{
    text-decoration: none;
    cursor: pointer;
}

/* Footer style */

.footer-section{
    background-color:rgba(37, 13, 68, 1) ;
    
}
.footer-container{
    background: url(assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    /* margin: 120px; */
}

.footer-logo{
    font-size: 3rem;
}

.footer-media{
    list-style: none;
    display: flex;
    gap: 40px;
    /* border: 2px solid red; */
}

.footer-media li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.media-name{
    text-decoration: none;
}

#logo{
    color: #ffffff;
}




/* Responsive for mobile */

@media screen and (max-width:576px) {
    .navbar,
    .banner-box,
    .about-section{
        max-width: 90%;
    }
  
    .navbar{
        display: flex;
        padding: 0 16px;
        padding: 20px;
    }
    .nav-items{
        display: none;
    }
    .btn1{
        display: none;
        
    }
    .hambuger{
        display: block;
        cursor: pointer;
    }

   .banner-section {
     padding: 80px 16px;
     min-height: 100vh;
  }

  .banner-area{
    background-size: 220% auto;
    background-position: center 46%;
  }
  .podcast-logo{
    max-width: 200px;
    /* width: 100%; */
    margin-bottom: 24px;
  }

    .banner-title {
      font-size: 2.5rem;
    }

  .new{
    font-size: 1rem;
    top:5%;
    right: 2%;
  }


    .mic{
        width: 80px;
    }



    .about-container{
     margin: 40px auto;
    }
    .about-number{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .choose-boxes{
        grid-template-columns: repeat(1, 1fr);
    }

    .box-content{
        width: 100%;
    }
    .box-wide{
        grid-column: span 1;
    }

    .feature-container{
        grid-template-rows: auto;
         gap: 40px;
        padding: 20px;

    }

    .episode-list{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .episode-title,
    .host-title{
        font-size: 2rem;
    }
    .epiosode-card{
        max-width: 100%;
        width: 100%;
        border-radius: 20px;
    }

    .epiosode-card iframe{
        width: 100%;
    }

    .host-intro{
        flex-direction: column;
        padding: 24px;
        text-align: center;
    }
    .host-media{
        justify-content: center;
    }
    .footer-container{
        padding: 40px 20px;
        background-position: center;
    }
    .footer-media{
        flex-wrap: wrap;
        justify-content: center;
    }
}

