 

 /* Shared style  */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1a0b2e;
}

/* Header */

.header-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* nav list */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.nav-logo{
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 32px;
    
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(
          90deg,
         #F7E93F 0%,
          #FB09B4 50%, 
          #9100F8 100%);
}