 

 /* Shared style  */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #1a0b2e;
}


.bg-1{
    background-color: #230e3d;
}

/* color */
  .white-01{
    color:#ffff;
  }
.white-02{
    color: #ffffff;
    font-size: 1rem;
    opacity: 80%;
    line-height: 20px;
}
/* Header */

.header-section,
.banner-box,
.about-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* nav list */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.nav-logo{
    font-size: 2.25rem;
    font-weight: 700;
}
.wave{
    background: linear-gradient(
    90deg,
    #ff4fd8,
    #7c3aed,
    #facc15);
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;


}
.nav-items{
    list-style: none;
    display: flex;
    gap: 32px;
    
}

.nav-item{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(
          90deg,
         #F7E93F 0%,
          #FB09B4 50%, 
          #9100F8 100%);
}
.hambuger{
    width: 18px;
    height: 14px;
    display: none;
}
/* Banner style */

.banner-section {
    width: 100%;
    min-height: 100svh;

    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-box{
  text-align: center;
  max-width: 550px;
  position: relative;
}
.podcast-logo{
    width: 350px;
   position: relative;
   margin: 0 auto 30px;
}
.circle{
    width: 100%;
    height: 100%;
}
.mic{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.new{
    position: absolute;
    background-color: #00ff88;
    font-size: 1.12rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 100px;
    color: #1a0b2e;
    top: 8%;
    right: 5%;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-description{
    font-size: 1rem;
    opacity: 80%;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    gap: 8px;
    justify-content: center;
    /* align-items: center; */
}

.btn2{
    border: 2px solid #00ff88;
    background: none;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #00ff88;
}

/* About section */


.about-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-description{
    margin-bottom: 30px;
}
.dash{
    border-bottom: 2px solid #fff;
    opacity: 20%;
}

.about-number{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.number-title{
    font-size: 3rem;
    font-weight: 700;
    color: #00ff88;
    margin-bottom: 16px;
}
.number-des{
    text-transform: uppercase;
}

/* Choose section */

.choose-section{
    width: 100%;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    background-color: #230e3d;
}

.choose-container{
    max-width: 1200px;
    width: 100%;
}

.choose-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

/* grid */

.choose-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(225px, auto);
    gap: 30px;
}
.box-content{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    /* box-shadow: 0 20px 40px rgba(0,0,0,0.35); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 16px;
}
.box-content img{
    height: 50px;
    width: 50px;
}
.box-title{
    font-size: 1.25rem;
}
.box-description{
    line-height: 2;
}
.box-large{
    grid-row: span 2;
}

.box-wide{
    grid-column: span 2;
}



/* Responsive for mobile */

@media screen and (max-width:576px) {
    .header-section,
    .banner-box,
    .about-section{
        max-width: 90%;
    }
  .banner-section {
   background-image: url("assets/hero-bg.png");
    background-position: top center;
  }
  .new{
    font-size: 1rem;
    top:5%;
    right: 2%;
  }

    .navbar{
        display: flex;
        padding: 0 16px;
    }
    .nav-items{
        display: none;
    }
    .btn1{
        display: none;
        
    }
    .hambuger{
        display: block;
        cursor: pointer;
    }


    .banner-section{
        margin-bottom: 40px;
    }


    .podcast-logo{
        width: 200px;
    }
    .mic{
        width: 80px;
    }
    .about-container{
     margin: 40px auto;
    }
    .about-number{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .choose-boxes{
        grid-template-columns: repeat(1, 1fr);
    }
}