 

 /* Shared style  */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #1a0b2e;
}

/* color */
  .white-01{
    color:#ffff;
  }

/* Header */

.header-section,
.banner-box{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* nav list */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.nav-logo{
    font-size: 2.25rem;
    font-weight: 700;
}
.wave{
    background: linear-gradient(
    90deg,
    #ff4fd8,
    #7c3aed,
    #facc15);
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;


}
.nav-items{
    list-style: none;
    display: flex;
    gap: 32px;
    
}

.nav-item{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(
          90deg,
         #F7E93F 0%,
          #FB09B4 50%, 
          #9100F8 100%);
}
.hambuger{
    width: 18px;
    height: 14px;
    display: none;
}
/* Banner style */

.banner-section {
    width: 100%;
    min-height: 100svh;

    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-box{
  text-align: center;
  max-width: 550px;
  position: relative;
}
.podcast-logo{
    width: 350px;
   position: relative;
   margin: 0 auto 30px;
}
.circle{
    width: 100%;
    height: 100%;
}
.mic{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.new{
    position: absolute;
    background-color: #00ff88;
    font-size: 1.12rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 100px;
    color: #1a0b2e;
    top: 8%;
    right: 5%;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-description{
    font-size: 1rem;
    opacity: 80%;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    gap: 8px;
    justify-content: center;
    /* align-items: center; */
}

.btn2{
    border: 2px solid #00ff88;
    background: none;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #00ff88;
}



/* Responsive for mobile */

@media screen and (max-width:576px) {
    .header-section,
    .banner-box{
        max-width: 90%;
    }
  .banner-section {
   background-image: url("assets/hero-bg.png");
    background-position: top center;
  }
  .new{
    font-size: 1rem;
    top:5%;
    right: 2%;
  }

    .navbar{
        display: flex;
        padding: 0 16px;
    }
    .nav-items{
        display: none;
    }
    .btn1{
        display: none;
        
    }
    .hambuger{
        display: block;
        cursor: pointer;
    }

    .podcast-logo{
        width: 200px;
    }
    .mic{
        width: 80px;
    }
}